<body>
    <!-- <div class="app-container"> -->

        <aside class="sidebar">
            <header class="sidebar-header">
                    <div class="dropdown">
                        <button class="menu-dropbtn">☰</button> <!-- Используются три горизонтальные полосы -->
                        <div class="dropdown-menu-content">
                            <a href="#">Профиль</a>
                            <a href="/friends/home">Друзья</a>
                            <a href="/chats/groups">Группы</a>
                            <a href="#">Приватность</a>
                            <a href="#">Безопасность</a>
                            <a href="#">Язык</a>
                            <a href="/auth/logout">Выход</a>
                        </div>
                    </div>
                    <!-- остальная часть боковой колонки -->
                    <div class="user-info">
                        <i id="user-icon" class='bx bx-user-circle'></i>
                        <h3 class="user-name"></h3>
                    </div>
            </header>
            <!-- Информация о пользователе -->
            
            <!-- Поле ввода для добавления друга -->
            
        </aside>
        
        

        <section class="chat-area">
            <!-- Chat area will contain chat messages and message input box -->
            <div class="chat-messages">
                <!-- Dynamically generated chat messages will go here -->
            </div>
            
        </section>
        
    <!-- </div> -->
</body>
