<div class="container-auth">
    <div class="form-group-auth">
        <h2>Авторизация</h2>
        <form id="myForm">
            <label for="username">Имя пользователя:</label><br>
            <input type="text" id="username" name="username" placeholder="Имя пользователя" required><br>

            <label for="password">Пароль:</label><br>
            <input type="password" id="password" name="password" placeholder="Пароль"><br><br>

            <input type="submit" value="Войти">
            <p>Нет аккаунта? <a href="registerpage">Зарегистрируйтесь</a></p>
        </form>
    </div>
</div>