* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.app-container {
    display: flex;
    height: 100%;
}

.sidebar {
    position: fixed;
    width: 300px;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: #2a2a2a; /* Dark grey/black */
    /* overflow-y: auto; */
    border-right: 1px solid #333; /* Slightly lighter grey for the border */
}

.sidebar-header {
    display: flex;
    align-items: center;
}

/* Стили для выпадающего меню */
.dropdown {
    position: relative;
    display: inline-block;
    margin-right: auto; /* Добавляет автоматический отступ, чтобы user-info шёл сразу за кнопкой */
}

.user-info {
    display: flex;
    align-items: center; /* Выравнивание иконки и текста по центру по вертикали */
    z-index: -100;
}

.user-name {
    margin-right: 10px;
    color:white;
    margin-left: 5px;
}


#user-icon {
    color: grey;
    font-size: 25px;
}
.dropdown {
    margin-right: 5px;
}
.dropdown .menu-dropbtn {
    background-color: #2a2a2a;
    color: white;
    font-size: 25px;
    padding: 2px 8px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    border-radius: 20px;
    margin-left: 6px;
}

.dropdown-menu-content{
    position: absolute;
    margin-top: 30px;
    display: none;
    position: fixed; /* Здесь используется fixed вместо absolute */
    left: 0; /* Отступ с левого края равен нулю по умолчанию */
    top: 60px; /* Отступ сверху равен высоте кнопки меню */
    background-color: rgba(42, 42, 42, 0.8);
    min-width: 175px; /* Задаем минимальную ширину для выпадающего меню */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    z-index: 1;
}

.dropdown-menu-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu-content a:hover {
    background-color: #1e1e1e;
}



.conversation {
    height: 60px;
    padding: 10px 15px;
    border-bottom: 2px solid #333;
    cursor: pointer;
    transition: background-color 0.3s;
    color: #ffffff; /* White text for the conversation items */
    background-color: #1a1a1a; /* Same as sidebar bg color for consistency */
}

.conversation:hover, .conversation:active {
    background-color: #2d2d2d; /* Slightly lighter bg on hover/active for subtle interaction feedback */
}

.chat-area {
    display: flex;
    margin-left: 250px;
    height: 100vh;
    flex-direction: column;
    background-color: #121212;
}


/* Медиа-запрос для изменения стилей при ширине окна 600px и меньше */
@media screen and (max-width: 850px) {
    .sidebar {
        width: 180px; /* Примерная ширина кнопки */
        /* Убедитесь, что у кнопки есть соответствующий класс или адаптируйте селектор */
        .button-class {
            display: block; /* или "inline-block" в зависимости от желаемого отображения */
        }
    }

    .chat-area {
         margin-left: 50px; /* Новая ширина .left-sidebar */
    }
}