<body>
    <aside class="left-sidebar">
        <header class="left-sidebar-header">
            <div class="dropdown">
                <button class="menu-dropbtn">☰</button> <!-- Используются три горизонтальные полосы -->
                <div class="dropdown-menu-content">
                    <a href="/main/home">Главная</a>
                    <a href="#">Профиль</a>
                    <a href="/friends/home">Друзья</a>
                    <a href="#">Безопасность</a>
                    <a href="/auth/logout">Выход</a>
                </div>
            </div>
        </header>
    </aside>
    <div class="chat-container">
        <header class="chat-header">
            <h1></h1>
            <button class="chat-menu">⋮</button>
        </header>
        <!-- <svg width="0" height="0">
            <defs>
              <clipPath id="clip-outgoing" clipPathUnits="objectBoundingBox">
                <path d="M1,0 L1,1 L0.9,1 L1,0.9 Z" />
              </clipPath>
              <clipPath id="clip-incoming" clipPathUnits="objectBoundingBox">
                <path d="M0,0 L0,1 L0.1,1 L0,0.9 Z" />
              </clipPath>
            </defs>
          </svg> -->
        <main class="chat-messages">
            <!-- Сообщения будут добавляться здесь -->
        </main>
        <footer class="chat-footer">
            <input type="text" placeholder="Написать сообщение..." class="chat-input">
            <button class="chat-send">Отправить</button>
        </footer>
    </div>
    <footer class="app-footer">
        <p>Verbum App, 2023</p>
    </footer>
</body>
